@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/700.css";

:root {
  --color-bg: #0e1518;
  --color-secondary: #959ca3;
  --color-foreground: #f9f8ff;
  --font-poppins: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0a0a0a;
    --color-foreground: #ededed;
  }
}

html, body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-foreground);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
